<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form action="/Todo/Create" method="post">
        <input type="text" placeholder="Title" name="Title" /><br /><br />
        <input type="text" placeholder="Description" name="Description" /><br /><br />
        <input type="datetime-local" placeholder="Deadline" name="Deadline" /><br /><br />
        <button>Create</button>
    </form>
</body>
</html>
