@using Todos.Models
@model List<Todo>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Todo/Create">Create</a>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Title - @item.Deadline</li>
        }
    </ul>
</body>
</html>
