<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Tempdata : @TempData["Other"]</p>
    <p>Viewdata : @ViewData["OtherView"]</p>
    <ul>
        @foreach (var item in ViewBag.Adlar)
        {
            <li>@item</li>
        }
    </ul>
</body>
</html>